<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="de.bitub.step-luna" sequenceNumber="34">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.mylyn.commons.sdk.feature.group" version="3.12.0.v20140605-1728"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.openifctools.stringconverter.f.feature.group" version="1.0.0.201504181854"/>
<repository location="http://bitub.github.io/step-p2-stringconverter/p2/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gmf.sdk.feature.group" version="3.2.0.201406111907"/>
<unit id="org.eclipse.emf.eef.sdk-feature.feature.group" version="1.3.0.201311221533"/>
<unit id="org.eclipse.emf.ecp.emfforms.sdk.feature.feature.group" version="1.3.0.20140610-1606"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.9.100.201405261516"/>
<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.8.0.201406111639"/>
<unit id="org.eclipse.zest.sdk.feature.group" version="1.5.100.201405261516"/>
<unit id="org.eclipse.emf.compare.ide.ui.source.feature.group" version="3.0.0.201406111328"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.net4j.sdk.feature.group" version="4.3.0.v20140308-0604"/>
<unit id="org.eclipse.emf.cdo.sdk.feature.group" version="4.3.0.v20140606-1557"/>
<unit id="org.eclipse.ocl.all.sdk.feature.group" version="5.0.2.v20140819-1612"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.10.0.v20140909-1633"/>
<unit id="org.eclipse.emf.compare.source.feature.group" version="3.0.1.201408191310"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.10.1.v20140901-1055"/>
<unit id="org.eclipse.qvtd.master.feature.group" version="0.11.0.v20140601-1319"/>
<unit id="org.eclipse.emf.diffmerge.sdk.feature.feature.group" version="0.3.0.v20140611-1329"/>
<unit id="org.eclipse.ocl.examples.feature.group" version="3.4.2.v20140819-1612"/>
<unit id="org.eclipse.xsd.sdk.feature.group" version="2.10.0.v20140901-1055"/>
<unit id="org.eclipse.m2m.atl.sdk.feature.group" version="3.5.0.v201405260755"/>
<unit id="org.eclipse.emf.cdo.dawn.sdk.feature.group" version="2.1.100.v20140530-1515"/>
<unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="3.4.0.v20140610-1621"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.antlr.antlr4-runtime-osgi.source" version="4.5.0"/>
<unit id="org.antlr.antlr4-runtime-osgi" version="4.5.0"/>
<unit id="org.abego.treelayout.org.abego.treelayout.core" version="1.0.1"/>
<unit id="org.abego.treelayout.org.abego.treelayout.core.source" version="1.0.1"/>
<repository location="http://bitub.github.io/step-p2-antlr4/p2"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="4.4.1.M20140925-0400"/>
<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.9.0.v20140911-0143"/>
<unit id="org.eclipse.rcp.sdk.id" version="4.4.1.M20140925-0400"/>
<unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="1.2.0.v20140523-0116"/>
<unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="2.2.0.v20140911-0143"/>
<unit id="org.eclipse.platform.sdk" version="4.4.1.M20140925-0400"/>
<unit id="org.eclipse.sdk.feature.group" version="4.4.0.v20140925-0400"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.7.0.v201409021051"/>
<unit id="org.eclipse.emf.ecore.xcore.feature.group" version="1.2.1.v20141013-0331"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.7.3.v201411190455"/>
<unit id="org.eclipse.xtend.sdk.feature.group" version="2.7.3.v201411190455"/>
<unit id="de.itemis.xtext.antlr.sdk.feature.group" version="2.1.1.v201405091103"/>
<unit id="org.eclipse.emf.ecore.xcore.ui.feature.group" version="1.2.1.v20141013-0331"/>
<unit id="de.itemis.xtext.antlr.feature.feature.group" version="2.1.1.v201405091103"/>
<unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.2.1.v20141013-0331"/>
<unit id="org.eclipse.xtext.redist.feature.group" version="2.7.3.v201411190455"/>
<unit id="org.eclipse.xtend.gwt.feature.group" version="2.7.3.v201411190455"/>
<repository location="http://download.itemis.com/updates/releases"/>
</location>
</locations>
</target>
