<?xml version="1.0" encoding="UTF-8"?>
<?pde version="3.8"?>
<target name="de.bitub.step-mars" sequenceNumber="30">
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.mylyn.commons.sdk.feature.group" version="3.17.0.v20150828-204"/>
      <repository location="http://download.eclipse.org/releases/mars"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.gmf.sdk.feature.group" version="3.3.1.20150902085"/>
      <unit id="org.eclipse.emf.eef.sdk-feature.feature.group" version="1.5.0.20150529130"/>
      <unit id="org.eclipse.emf.ecp.emfforms.sdk.feature.feature.group" version="1.7.0.20150914-161"/>
      <unit id="org.eclipse.gef.sdk.feature.group" version="3.10.1.20150817020"/>
      <unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="1.9.0.20150606021"/>
      <unit id="org.eclipse.zest.sdk.feature.group" version="1.6.1.20150817020"/>
      <unit id="org.eclipse.emf.compare.ide.ui.source.feature.group" version="3.1.1.20150912060"/>
      <repository location="http://download.eclipse.org/releases/mars"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.net4j.sdk.feature.group" version="4.4.1.v20150916-083"/>
      <unit id="org.eclipse.emf.cdo.sdk.feature.group" version="4.4.1.v20150916-083"/>
      <unit id="org.eclipse.ocl.all.sdk.feature.group" version="5.1.0.v20150624-090"/>
      <unit id="org.eclipse.equinox.sdk.feature.group" version="3.11.1.v20150831-134"/>
      <unit id="org.eclipse.emf.compare.source.feature.group" version="3.1.1.20150912060"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.11.1.v20150806-040"/>
      <unit id="org.eclipse.qvtd.master.feature.group" version="0.12.0.v20150607-164"/>
      <unit id="org.eclipse.emf.diffmerge.sdk.feature.feature.group" version="0.5.0.v20150608-093"/>
      <unit id="org.eclipse.ocl.examples.feature.group" version="6.0.1.v20150908-123"/>
      <unit id="org.eclipse.xsd.sdk.feature.group" version="2.11.0.v20150806-040"/>
      <unit id="org.eclipse.m2m.atl.sdk.feature.group" version="3.6.0.v20150518090"/>
      <unit id="org.eclipse.emf.cdo.dawn.sdk.feature.group" version="2.1.100.v20150911-180"/>
      <unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="3.5.0.v20150603-105"/>
      <repository location="http://download.eclipse.org/releases/mars"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.sdk.ide" version="4.5.1.M20150904-001"/>
      <unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.9.100.v20150601-170"/>
      <unit id="org.eclipse.rcp.sdk.id" version="4.5.1.M20150904-001"/>
      <unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="1.2.101.v20150826-131"/>
      <unit id="org.eclipse.equinox.p2.user.ui.feature.group" version="2.2.101.v20150826-131"/>
      <unit id="org.eclipse.platform.sdk" version="4.5.1.M20150904-001"/>
      <unit id="org.eclipse.sdk.feature.group" version="4.5.1.v20150904-034"/>
      <repository location="http://download.eclipse.org/releases/mars"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.emf.mwe2.language.sdk.feature.group" version="2.8.3.v20151216063"/>
      <unit id="org.eclipse.emf.ecore.xcore.feature.group" version="1.2.2.v20150202-045"/>
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.9.1.v20151218074"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="2.9.1.v20151218074"/>
      <unit id="org.eclipse.emf.ecore.xcore.ui.feature.group" version="1.2.1.v20150202-045"/>
      <unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.2.2.v20150202-045"/>
      <unit id="org.eclipse.xtext.redist.feature.group" version="2.9.1.v20151218074"/>
      <unit id="org.eclipse.xtend.gwt.feature.group" version="2.9.1.v20151218074"/>
      <repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases"/>
    </location>
  </locations>
</target>